:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*elementos base*/

body{
    background-color: black;
    font-family: "Arial", Times, Serif;
    color: white;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

header .logo{
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    font-family: "Inter", Arial;
    color: #FF7A00;
    font-weight: 600;
    font-size: 18px;
    margin-right: 10px;
}

header nav a:hover{
    color: white;
}

/*conteudo principal*/

.banner-principal{
    font-size: 16px;
    background: url("/img/inter-main.png");
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.banner-principal .descricao{
    margin-bottom: 40px;
    margin-top: 10px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: "Trebuchet MS", Arial, SansSerif;
    color: #FF7A00;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .7s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 7px;
}

.titulo-servicos{
    margin-left: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family: "Inter", Arial;
    font-size: 30px;
    color: lightgray;
}

.titulo-servicos i{
    margin-left: 10px;
}

.container {
    margin-left: 20px;
}

.banner-principal .container{
    width: 60%;
}

.box-img{
    height: 100%;
    width: 100%;
    display: block;
}

.owl-carousel{
    margin-top: 5px;
    margin-bottom: 5px;

}

section h2{
    color: black;
}

---

.owl-carousel .owl-video-tn {
    background-size: cover;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
}

.owl-video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    display: inline-block;
}

.owl-dot span {
    width: 11px;
    height: 11px;
    background-color: #ccc;
    border-radius: 50%;
    display: block;
    margin: 5px 3px;
}

.owl-dot.active span {
    background-color: #000;
}

section{
    margin-bottom: 50px;
}